.layout{
    background-color: lightcyan;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      ". content ."; 
}

.content{
    background-color: lightblue;
    grid-area: content;
    display: grid; 
    grid-template-columns: 1fr 4fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "sidebar description"; 
}

.horizontalDivider{
  border-bottom: 1px solid black;
}